*{
    font-family: "McLaren";
    overflow-x: hidden;
}
body{
    background-color: #dffaf5;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}
.nav{
    opacity: 97%;
    background-color: #0a0003 !important;
    /* background-image: url(http://www.transparenttextures.com/patterns/dark-stripes.png);     */
}
.landing{
    opacity: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0a0003;
/* background-image: url(http://www.transparenttextures.com/patterns/dark-stripes.png); */
padding-bottom: 15%;
}
.landing-head{
    color: white;
    margin-top: 6rem;
    font-size: 4rem;
}
.landing-subhead{
    color:#EB0A00;
    font-size: 4rem;   
}
.info-head{
    text-align: center;
    font-size: 3rem;
}
.info-det{
    color:black;
    margin: 2rem auto;
    width: 60%;
    font-size: 2rem;
    opacity: 70%;
}
.info-skills{
    font-family: "McLaren";
    color:black;
    margin: 5rem auto;
    width: 50%;
    font-size: large;
    display: flex;
    flex-direction: column;
}
.skill-text{
    text-align: center;
    font-size: 3rem;
}
.skills-progress{
    display:grid;
    grid-template-columns: 50% 50%;
    align-items: center !important;
    /* text-align: center; */
    margin-top: 4rem;
    margin-bottom: 5rem;
}
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.progress-bar {
    
    background-color: white !important;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    align-items: center !important;
    
}
.progress-bar-track {
    stroke: #EB0A00 !important;
}
.profile-image{
    margin-top: 1rem;
    width: 13.5rem;
    height: 16rem;
    border-radius: 10%;
}
.prjct{
    display: grid;
    grid-template-columns: 30% 30%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
}
  .project-block {
      position: relative;
    width: 30rem;
    height: 40rem;
    margin: 3rem auto 5rem auto;
    box-shadow: 6px 6px 20px #00000029;
    border-radius: 80px;
    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
   font-family: "McLaren";
      font-size: 1.8rem;
      background-color: white;
  } 
  .prjct-title{
      width:80%;
  }
  .prjct-content{
      width: 90%;
  }
  .project-image{
    width: 30rem;
    height: 18rem;
    border-radius: 80px 80px 80px 80px;
}
.project-head{
    text-align: center;
    margin-top: 3rem;
    font-size: 4rem;
    margin-bottom: 5rem;
}
.btns{
    display: flex;
    position: absolute;
    bottom: 1rem;
}
.btns button{
   margin-left:1rem;
    margin-right: 1rem;
   box-shadow: 6px 6px 20px #00000029;
  font: Bold 24px Product-Sans;
  color: #000000;
  background-color: #fff;
  border-radius: 15px;
  height: 4rem;
  opacity: 70%;
  font-family: "McLaren";
}
.contact{
    font-family: "McLaren";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   background-color: #0a0003;
   background-image: url(http://www.transparenttextures.com/patterns/dark-stripes.png); 
   color: white;  
}
.contact-head{
    margin-top: 2rem;
    font-size: 4rem;
}
.fab{
    color: #EB0A00;
    margin-top:2rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}
.fab:hover{
    color: white;
}
.text-grey{
    margin-top:2rem;
    font-size: 1.7rem;
}
.text-grey a{
    color: white;
}
.text-grey a:hover{
    color: #EB0A00;
}
.footer{
    text-align: center;
    margin:1rem;
    font-size: 1.4rem;
}

/* mobile devices */
@media screen and (max-width: 700px) {
    .landing-head{
        margin-top: 3rem;
        font-size: 3rem;
    }
    .landing-subhead{
        font-size: 2.5rem;   
    }
    .info-skills{
        width: 90%
    }
    .info-det{
        width: 95%;
        font-size: 1.4rem;
    }
    .skill-text{
        text-align: center;
        font-size: 3rem;
    }
    .skills-progress{
        display:flex;
        flex-direction: column;
    }
    .prjct{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
}
  .project-block {
    width: 90%;
    height: 42rem;
    margin: 4rem auto 0rem auto;
      font-size: 1.3rem;     
  } 
  .project-image{
    width: 100%;
    height: 18rem;
    border-radius: 80px 80px 80px 80px;
}
.project-head{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.btns{
    display: flex;
    flex-direction: column;
}
.btns button{
   margin:0.5rem;
    width:10rem;
}
} 