body{
    background-color: #dffaf5;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}
.nav{
    font-family: "McLaren";
    background-color: #0a0003 !important;
    background-image: url(http://www.transparenttextures.com/patterns/dark-stripes.png);    
}
.info{
    font-family: "McLaren";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0a0003;
background-image: url(http://www.transparenttextures.com/patterns/dark-stripes.png);
}
.info-head{
    color: white;
    margin-top: 6rem;
    font-size: 4rem;
}
.info-subhead{
    color:#EB0A00;
    font-size: 4rem;   
}
.info-det{
    color:white;
    margin: 2rem auto;
    width: 50%;
    font-size: large;
}
.info-skills{
    display:flex;
    color:white;
    margin: 5rem auto;
    width: 50%;
    font-size: large;
}
.skills-progress{
    width: 30rem;
    margin-left: 15rem;
}
.progress-bar{
    background-color: #EB0A00 !important;
}
ProgressBar{
    margin-top: 4rem;
}
.progress{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.profile-image{
    margin-top: 1rem;
    width: 13.5rem;
    height: 16rem;
    border-radius: 10%;
}
  .project-block {
    width: 30rem;
    height: 38rem;
    margin: 3rem 1rem 2rem 20rem;
    box-shadow: 6px 6px 20px #00000029;
    border-radius: 80px;
    padding: 0px 20px 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
   font-family: "McLaren";
      font-size: 1.8rem;
  } 
  .project-image{
    width: 30rem;
    height: 18rem;
    border-radius: 10%;
}
.project-head{
    text-align: center;
    font-family: "McLaren";
    margin-top: 3rem;
    font-size: 3.5rem;
}
