body{
    background-color: #dffaf5;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}
.nav{
    font-family: "McLaren";
    background-color: #0a0003 !important;
    /* background-image: url(http://www.transparenttextures.com/patterns/dark-stripes.png);     */
}
.landing{
    font-family: "McLaren";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0a0003;
/* background-image: url(http://www.transparenttextures.com/patterns/dark-stripes.png); */
padding-bottom: 20%;
}
.landing-head{
    color: white;
    margin-top: 6rem;
    font-size: 4rem;
}
.landing-subhead{
    color:#EB0A00;
    font-size: 4rem;   
}
.info-det{
    font-family: "McLaren";
    color:black;
    margin: 2rem auto;
    width: 50%;
    font-size: large;
}
.info-skills{
    font-family: "McLaren";
    display:flex;
    color:black;
    margin: 5rem auto;
    width: 50%;
    font-size: large;
}
.progress-bar {
    background-color: white !important;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}
.progress-bar-track {
    stroke: blue !important;
}
.profile-image{
    margin-top: 1rem;
    width: 13.5rem;
    height: 16rem;
    border-radius: 10%;
}
.prjct{
    display: grid;
    grid-template-columns: 30% 30%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  .project-block {
    width: 25rem;
    height: 48rem;
    margin: 3rem auto 2rem auto;
    box-shadow: 6px 6px 20px #00000029;
    border-radius: 80px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
   font-family: "McLaren";
      font-size: 1.8rem;
      background-color: white;
      
  } 
  .project-image{
    width: 25rem;
    height: 18rem;
    border-radius: 80px 80px 80px 80px;
}
.project-head{
    text-align: center;
    font-family: "McLaren";
    margin-top: 3rem;
    font-size: 3.5rem;
}
.btns{
    display: flex;
    margin:2rem auto 10rem 1rem;
    
}
.btns button{
   margin-left:2rem;
   box-shadow: 6px 6px 20px #00000029;
  font: Bold 24px Product-Sans;
  color: #000000;
  background-color: #fff;
  border-radius: 15px;
  height: 4rem;
}
.contact{
    font-family: "McLaren";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   background-color: #0a0003;
   background-image: url(http://www.transparenttextures.com/patterns/dark-stripes.png); 
   color: white;  
}
.contact-head{
    margin-top: 2rem;
    font-size: 4rem;
}
.fab{
    color: #EB0A00;
    margin-top:2rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}
.fab:hover{
    color: white;
}
.text-grey{
    margin-top:2rem;
    font-size: 1.7rem;
}
.text-grey a{
    color: white;
}
.text-grey a:hover{
    color: #EB0A00;
}
.footer{
    text-align: center;
    font-family: "McLaren";
    margin:1rem;
    font-size: 1.4rem;
}